#HomeNewsDelete-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#HomeNewsDelete-Container h2{
    color: red;
    margin: 2%;
}
#HomeNewsDelete-Container form{
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
}
#HomeNewsDelete-Container form input[type="checkbox"]{
    accent-color: red;
    border: 5px solid;
    margin-top: 10px;
}
#HomeNewsDelete-Container form div{
    width: 40vw;
    display: flex;
    border-radius:10px ;
    padding:2%;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    box-shadow:0px 0px 10px #ccc ;
    box-sizing: border-box;
}
#HomeNewsDelete-Container  button{
    margin: 1%;
    padding: 0.5%;
    color:red;
    background-color: aliceblue;
    border-radius: 5px;
}
#HomeNewsDelete-Container  button:hover{
    color:aliceblue;
    background-color: red;
    box-shadow: 2px 2px 6px black;

}
#HomeNewsDelete-Container form div:hover{
    background-color: #ccc;
}
@media(max-width:768px){
    #HomeNewsDelete-Container form div{
        width: 80vw;
    }
}