#HomeNewsUpdate-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    background-color: aqua;
    padding: 1.5%;
}
#HomeNewsUpdate-ul li{
    list-style-type: none;
}
#HomeNewsUpdate-ul li a{
    font-size: 1.5rem;
}
.HomeNewsUpdate-Title{
    text-align: center;
    margin: 1%;
}
@media(max-width:768px){
    #HomeNewsUpdate-ul li a{
        font-size: 1rem;
    }
}