
  *{
    box-sizing: border-box;
  }
  #homeSlide.slideshow-container {
    position: relative;
    width: 98%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    margin: 1%;
    box-sizing: border-box;
  }
  
#homeSlide .slide-caption {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%); 
  color: rgb(193, 10, 10);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  z-index: 2;
  max-width: 90%;
  
}

#homeSlide .slide-caption h2 {
  margin: 0;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

#homeSlide .slide-caption p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  

  #homeSlide .slide {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  #homeSlide .slide-image {
    width: 100%;
    height: 100%;
    
    object-fit: cover contain;
    animation: fade 1s ease-in-out;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Overlay for text */
  #homeSlide .slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0,0,0,0.7));
    z-index: 1;
  }
  
 
  
  /* Arrows */
  #homeSlide .prev, #homeSlide .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 28px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
  }
  
  #homeSlide .prev:hover, #homeSlide .next:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .prev {
    left: 15px;
  }
  
  #homeSlide .next {
    right: 15px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    
    #homeSlide .prev, #homeSlide .next {
      font-size: 22px;
      padding: 8px;
    }
    #homeSlide.slideshow-container{
      height: 60vh;
    }
    #homeSlide .slide-caption {
      min-width: 350px;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  
    #homeSlide .slide-caption h2 {
      font-size: 1.2rem;
      text-align: center;
    }
  
    #homeSlide .slide-caption p {
      font-size: 0.7rem;
    }
    #homeSlide.slideshow-container {
      border-radius: 5px;
    }
   
  }
  